.next/
out/
node_modules/

.env
.env.local
.env.development.local
.env.production.local

.npm/
npm-debug.log*

.vscode/
.DS_Store
.vercel/
service-account-key.json
jfp-data-warehouse-a6d5290a031a.json
